/* src/styles/colors.scss */
$color-primary: #042A29;
$color-background: #F2F3F2;
$color-text-primary: #597370;
$color-text-secondary: #54493C;
$color-secondary: #C69B47;
$color-black: #000000;
$color-white: #ffffff;

$gradient1 : linear-gradient(120deg, #ffc247 -8.75%, #ffbb50 -2.32%, #f4941b 17.56%, #ffbb50 24.57%, #ffc247 31%, #f4941b 44.45%, #ffbb50 60.82%, #ffc247 69.59%, #f4941b 79.53%, #ffbb50 91.8%, #ffc247 103.5%);