@import '../../../styles/colors.scss';

.footerContainer {
    background-color: $color-primary;
    color: $color-secondary;
}

.infoText {
    color: $color-secondary !important;
}

.refLink {
    text-decoration: none;
    color: $color-secondary;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;


    &:hover {
        transform: scale(1.1);
        font-weight: bold;
    }
}

.icon {
    border: 1px solid $color-secondary;
    color: $color-secondary;
}