@import "../../styles/colors.scss";

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.socialLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $color-primary;
    color: $color-white;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 150px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    gap: 10px;

    &:hover {
        background-color: $color-secondary;
        transform: translateY(-10px);
    }

    img {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }

    span {
        font-size: 18px;
        font-weight: bold;
    }
}